.picAbout {
  width: 171px;
  height: 180px;
}

.imgAbout {
  text-align: center;
}

.aboutTitle {
  text-align: center;
}
.aboutBack {
  background: url('../../assets/images/backgroundAbout.jpg');
  /* makes background responsive */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}