.home {
  background: url('../../assets/images/homepage.jpg');
  /* makes background responsive */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homePage {
  background: rgba(0, 0, 0, 0.0001);
  background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  margin-bottom: 0px;
}